%box {
    padding: 20px 25px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    background-image: url(/img/fancy-meal.jpg);

    .header__nav a:nth-of-type(2) {
        color: #f39c12;
    }
}

.about {
    min-width: 100%;
    height:auto;

    p {
        padding-top: 30px;
    }
    &-header {
        background-color: #f8e9d0;
    }
    &-intro {
        display: flex;
        justify-content: center;
        
        &__text {
            @extend %box;
            width: 30%;
            margin: 10px;
            h3, h2, p {
                text-align: left;
            }
        }

        &__img {
            margin: 20px 0;
            img{
                width: 310px;
            }
        }
    }
}

.about-slider__Box {
    .about-slider__img{
        background-image: url(/img/bigbreakfast.jpg);
        background-size: cover;
        height: 600px;
        
        .about-slider__text {
        }
    }


    .about-slider__temp{
        background-image: url(/img/pattern2.png);
        background-size: contain;
        background-color: rgba(0, 0, 0, 0.185);
        height: 50px;
    }
}


