%box {
    padding: 20px 25px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    background-image: url(/img/fancy-meal.jpg);

    .header__nav a:nth-of-type(2) {
        color: #f39c12;
    }
}

.about {
    min-width: 100%;
    height:auto;
    p {
        padding-top: 30px;
    }
    &-header {
        background-color: #f8e9d0;

        &-juice {
            width: 250px;
            position: sticky;
            float: right;
            top: 100px;

        }
    }
    &-second {
        background-color: #fffbf3;
    }
    &-third {
        background-color: #f8e9d0;
    }
    &-intro {
        display: flex;
        justify-content: center;
        
        &__text {
            @extend %box;
            width: 30%;
            margin: 20px 10px;
            h3, h2, p {
                text-align: left;
            }
        }
        &__img {
            margin: 20px 0;
            img{
                width: 360px;
            }
        }
    }
}
